body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #0f1115;
  color: #eaeaea;
}

/* GRID */
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: #1a1d24;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* CAROUSEL */
.carousel {
  position: relative;
}

.carousel img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  cursor: pointer;
}

/* NAV */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.left { left: 5px; }
.right { right: 5px; }

/* TEXT */
h3 {
  margin: 10px;
}

.price {
  color: #00ff9c;
  font-weight: bold;
  margin: 10px;
}

.condition {
  margin: 0 10px;
  opacity: 0.7;
}

/* DETAIL */
.detail {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.gallery img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.info {
  max-width: 400px;
}

.desc {
  margin: 15px 0;
  line-height: 1.5;
}

button {
  background: #25D366;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}